{% extends 'core/base.html' %}

{% block content %}
<!-- {% if user.is_authenticated %}
<a href="{% url 'logout' %}" class="button is-danger">Log Out</a>
{% else %}
<a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>

{% endif %} -->
<div class="container">
    <div class="columns">
        <div class="column is-12">
            <h4 class="title"><a href="{{ story.url }}">{{ story.title }}</a></h4>
            <h6 class="subtitle"><small><a href="{% url 'vote' story.id %}?next_page=story">Vote</a> {{ story.number_of_votes }} points By: <span> <a href="{% url 'userprofile' story.created_by.username %}"> </span> {{ story.created_by.username }}</a> {{ story.created_at | timesince}} ago </small><br></h6>
            
        </div>
    </div>

    <div class="columns">
        <div class="column is-12">
            <hr>

            <h5>Comments</h5>
            {% for comment in story.comments.all %}
                <article>
                    <div>
                        <p>
                            <strong>{{ comment.created_by.username }}</strong><small>&nbsp;{{ comment.created_at | timesince}} ago</small><br>
                            {{ comment.body }}
                        </p>
                    </div>
                </article>
                {% empty %}
                <p>No comments yet</p>
                {% endfor %}

                <hr>

                <h5>Add comment</h5>
                {% if request.user.is_authenticated %}
                <form action="." method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div>
                        <button>add comment</button>
                    </div>
                </form>
                {% else %}
                <p>Please log in to comment</p>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}