{% extends 'core/base.html' %}
{% block content %}
    <div class="container-submit">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
            <br>
            <br>
            <small class="submit-page-bottom-text">&nbsp;&nbsp;&nbsp; Leave url blank to submit a question for discussion. If there is no url, text will appear at the top of the thread. If there is a url, text is optional.</small>
        </form>
    </div>

{% endblock %}